    /* Header Navbar */
.header{
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    background-image: linear-gradient(0, #cbe6f7, #acd0f5);
    z-index: 1000;
}

    /* Side Bar */
.header__navbar-sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #afd2f5;
    z-index: 3;
    transform: translateX(-250px);
    transition: transform 0.3s ease-in;
}

.header__navbar-sidebar.barOn{
    transform: translateX(0);
    transition: transform 0.3s ease-in;
}

.sidebar__bars{
    height: 40px;
    width: 40px;
    top: 15px;
    left: 10px;
    color: #fff;
    font-size: 40px;
    position: absolute;
    cursor: pointer;
}

.sidebar__header{
    position:  absolute;
    width: 100%;
    height: 120px;
    background-color: #fff;
}

.sidebar__close{
    height: 60px;
    width: 60px;
    position: absolute;
    font-size: 40px;
    top: 25px;
    right: 0;
    background-color: #162938;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
}

.sidebar__close.barOn{
    right: -25px;
}

.sidebar__close:hover{
    opacity: 0.8;
}

.sidebar__webname{
    position: absolute;
    top: 20px;
    left: 30px !important;
}

.sidebar__list{
    margin-top: 130px;
}

.sidebar__list li{
    list-style: none;
}

.sidebar__list li a{
    padding-left: 10%;
    margin-left: 3%;
    padding-right: 5%;
    width: 94%;
    height: 70px;
    margin-top: 10px;
    display: flex;
    font-size: 2em;
    place-items: center;
    border-radius: 5px;
    color: #000;
    text-decoration: none;
    list-style: none;
}

.sidebar__list li a:hover{
    opacity: .8;
    background-color: #fff;
    transition: 0.7s;
}





    /* Web's Name */
.webname{
    position: absolute;
    left: 50%;
    height: 50px;
    width: 100px;
    float: left; 
    margin-top: 25px;  
    cursor: pointer;
}

    /* Search */
.header__navbar-search{
    position: absolute;
    top: 14px;
    left: 70px;
    height: 50px;
    width: 33%;
    max-width: 335px; 
    color: #fff;
    font-size: 20px;
    text-align: center;
    float: left;
    background-color: #fff;
    border-radius: 4rem;
}

.search__input{
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    width: calc(100% - 50px);
    height: 100%;
    border-radius: 4rem;
    padding-left: 14px;
    transition: opacity 1.5s;
}


.search__btn{
    width: 50px;
    height: 50px;
    background-color: #162938;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.search__icon {
    position: absolute;
    top: 30%;
    left: 33%;
}

.search__close{
    opacity: 0;
}


    /* Auth */
.header__navbar-auth{
    position: absolute;
    right: 5%;
    top: 20px;
    height: 30px;
    width: 30px;
    color: palevioletred;
    font-size: 30px;
}

.header__navbar-dropmenu{
    display: none;
    position: absolute;
    right: 18px;
    top: 60px;
    margin-top: 10px;
    background-color: rgba(26, 107, 147, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
}

.header__navbar-dropmenu.open{
    display: block;
    transform: scale(1);
}

.header__navbar-dropmenu li{
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.header__navbar-dropmenu a{
    text-decoration: none;
    color: #000;
}

.authPopUp{
    border: none;
    background: none;
    color: #333;
    cursor: pointer;
}

.auth__icon{
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    color: #fff;
    font-size: 40px;
}

.auth-form{
    position: fixed;
    bottom: 20%;
    left: 40%;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    background-color: bisque;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform 0.2s ease, height 0.2s ease;
}

.auth-form.active-popup{
    transform: scale(1);
}

.auth-form.active{
    height: 520px;
}

.auth-form.active .auth-form__login{
    transition: none;
    transform: translateX(-400px);
}
.auth-form .auth-form__login{
    transition: transform 0.18 ease;
    transform: translateX(0);
}
.auth-form .auth-form__regis{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.auth-form.active .auth-form__regis{
    transition: transform 0.18s ease;
    transform: translateX(0);
}
.auth-form__close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #162938;
    font-size: 4em;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    border-bottom-left-radius: 20px ;
    cursor: pointer;
    z-index: 1;
}

.auth-form .auth-form__login{
    width: 100%;
    padding: 40px;
}

.auth-form__login h2{
    font-size: 3em;
    color: #162938;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0px;
}

.input-box label{
    position: absolute;
    top: -15%;
    left: 5px;
    font-size: 1.5em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.5em;
    color: #162938;
    font-weight: 600;
}

.input-box .input-box__icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember-forgot{
    position: relative;
    font-size: 0.9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label{
    position: absolute;
    accent-color: #162938;
    margin-right: 3px;
    font-size: 1.5em;
    font-weight: 700;
    left: 15px;
}


.remember-forgot a{
    position: absolute;
    color: #162938;
    text-decoration: none;
    font-size: 1.3em;
    right: 0;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 2em;
    color: #fff;
    font-weight: 500;
}

.login-register{
    font-size: 1.3em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}

.auth-form__regis{
    width: 100%;
    padding: 40px;
}
.auth-form__regis h2{
    font-size: 3em;
    color: #162938;
    text-align: center;
}
    /* Container */
.container{
    position: relative;
    top: 0;
    margin-top: 80px;
    height: 100%;
    width: 100%;
    background-color: #ebebeb;
}
h1{
    text-align: center;
}


    /* Web body */
.container__webbody{
    /* 878px */
    position: relative  ;
    width: 60%; 
    height: 100%;
    left: 10%;
    padding: 0 15px;
    background-color: #fff;
    box-sizing: border-box;

}
.container__webbody-tag{
    /* Max: 300x200px
       Min: 220x140px */
    height: 34.17%;
    width: 23%;
    min-width: fit-content;
    margin-bottom: 10px;
    margin-left: 10px;
    text-decoration: none;
    color: #000;
    margin-top: 35px;
    background-color: #afd2f5;
    padding-bottom: 5px;
}

.container__webbody-box{
    display: flex;
    flex-wrap: wrap;
}

.tag__img{
    width: 80%;
    height: 66.67%;
    padding-top: 100%;
    background-color: palevioletred;
    margin-left: 10%;
    background-repeat: no-repeat;
    background-size: cover;
}

.container__webbody-tag h2{
    margin-left: 10%;
}


.new-chap{
    margin-left: 10%;
}

.new-chap + .new-chap{
    margin-top: 5px;
}
.container__webbody-tag + .container__webbody-tag{
    margin-left: 10px;
}
.omenu{
    margin-left: 13%;
    margin-right: 13%;
    margin-bottom: 40px;
    display: flex;
    top:370px;
}
.pagelink{
    text-align: center;
    border: 1px solid gray;
    height: 50px;
    width: 50px;
    background-color: rgb(0, 67, 115);
    color: white;
}
    

.type{
    height: 40px;
}

.type__bar{
    display: flex;
    margin-left: 11%;
}

.type__item{
    width: 90px;
    height: 40px;
    background-color: #ebebeb;
    border: 0.5px #dddddd solid;
    border-bottom: none;
    text-decoration: none;
    font-size: 1.5em;
    text-align: center;
    padding-top: 10px;
    color: #000;
}

.type__item:hover{
    background-color: #fff;
}



/* Điều khoản và chính sách bảo mật */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(53, 44, 44, 0.4);
}

.modal-content {
    background-color: #bee1e1;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #703f3f;
    width: 60%;
    height: 70%;
    animation-name: modalOpen;
    animation-duration: 0.4s;
}

.modal-content h2{
    font-size: 4em;
}

.modal-content p{
    font-size: 2em;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

   
.close {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(53, 44, 44, 0.4);
}

.modal-content2 {
    background-color: #fcc3ff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height: 70%;
    animation-name: modalOpen2;
    animation-duration: 0.4s;
}

.modal-content2 h2{
    font-size: 4em;
}

.modal-content2 p{
    font-size: 2em;
}

.close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2 {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
@keyframes modalOpen {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
}
@keyframes modalOpen2 {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
}


    /* Footer */
.footer__back{
    height: 200px;
    position: relative;
    bottom: 0;
    background-color: palevioletred;
}